html,
body {
  /* padding:   0;
  margin: 0; */
  font-family: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    /* color: white; */
    /* background: black; */
  }
}


.gorillaz, .tameImpala{
  width: 10rem;
  display: block;
  margin: auto;
}

div {
  width: 10.5rem;
  height: 15rem;
  padding: 0.5rem;
  font-weight: 600;
}

.backColor {
  background-color: #225095;
  position: absolute;
  margin-top: 0.4rem;
}

.box:hover {
  border: 0.01rem solid black;
  margin-left: 0.3rem;
  margin-top: 0;
  
}

.box:hover > .gorillaz {border: 0.01rem solid black;}

.box {
  border: 0.01rem solid #22509572;
  background-color: white;
  position: absolute;
  margin-top: 0.4rem;
  transition: all 0.2s;
}

.card {
  margin-bottom: 0.8rem;
}

.songName {
  float: left;
}
.duration {
  float: right;
}
.artistName {
  display: flex;
}

.anticon {
  /* line-height: 5; */
  color: white;
  position: absolute;
  right: 0;
  margin-right: 1.2rem;
  bottom: 0;
  margin-bottom: 5.8rem;
}

/* .anticon:active {
  color: #DD0100;
} */